# you shouldnt neccesarily use this unless you have a script setup here, but i include it to make my life and migrating distros a little less painful
[Unit]
Description=discord status rotator
After=network.target

# please for the love of god change the directories here if you want to use this
[Service]
WorkingDirectory=%h/scripts/
ExecStart=/usr/bin/python %h/scripts/status.py
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
